                            {% for rs in comments %}
                                <div class="single-review mt-3 px-2 border-bottom border-gray">
                                    <div class="review-heading">
                                        <div><i class="far fa-user"></i> {{ rs.user.first_name }}  {{ rs.user.last_name }}
                                        <span class="float-right"><i class="far fa-clock"></i> {{ rs.update_at.date }}</span></div>
                                        <div class="review-rating">
											{% if rs.rate <= 0  %}
											<span class="far fa-star wt-star"></span>
											{% elif rs.rate <= 0.5  %}
											<span class="fas fa-star-half-alt wt-star"></span>
											{% else %}
											<span class="fas fa-star wt-star"></span>
											{% endif %}

											{% if rs.rate <= 1  %}
											<span class="far fa-star wt-star"></span>
											{% elif rs.rate <= 1.5  %}
											<span class="fas fa-star-half-alt wt-star"></span>
											{% else %}
											<span class="fas fa-star wt-star"></span>
											{% endif %}

											{% if rs.rate <= 2  %}
											<span class="far fa-star wt-star"></span>
											{% elif rs.rate <= 2.5  %}
											<span class="fas fa-star-half-alt wt-star"></span>
											{% else %}
											<span class="fas fa-star wt-star"></span>
											{% endif %}

											{% if rs.rate <= 3  %}
											<span class="far fa-star wt-star"></span>
											{% elif rs.rate <= 3.5  %}
											<span class="fas fa-star-half-alt wt-star"></span>
											{% else %}
											<span class="fas fa-star wt-star"></span>
											{% endif %}

											{% if rs.rate <= 4  %}
											<span class="far fa-star wt-star"></span>
											{% elif rs.rate <= 4.5  %}
											<span class="fas fa-star-half-alt wt-star"></span>
											{% else %}
											<span class="fas fa-star wt-star"></span>
											{% endif %}
											<b class="pl-2">{{ rs.subject }}</b>
										</div>
									</div>
	                                <div class="review-body">
	                                    <p>{{ rs.comment }}</p>
	                                </div>
                                </div>
                            {% endfor %}